* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/static/Inter-Regular.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/static/Inter-SemiBold.ttf") format("ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/static/Inter-Bold.ttf") format("ttf");
    font-weight: 700;
    font-style: normal;
}

:root {
    --clr-Green: hsl(75, 94%, 57%);
    --clr-White: hsl(0, 0%, 100%);
    --clr-Grey700: hsl(0, 0%, 20%);
    --clr-Grey800: hsl(0, 0%, 12%);
    --clr-Grey900: hsl(0, 0%, 8%);
}

html {
    font-size: 14px;
}

body {
    font-family: "Inter", sans-serif;
    background: var(--clr-Grey900);
    color: var(--clr-White);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    background: var(--clr-Grey800);
    padding: 1rem;
    text-align: center;
    width: 320px;
    border-radius: 10px;
    /* max-width: 380px; */
}

.profile-img {
    display: block;
    width: 100px;
    border-radius: 140px;
    margin: 1rem auto 0;
}

.profile-name {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.profile-location {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    color: var(--clr-Green);
    font-weight: 600;
}

.profile-ocupation {
    margin-bottom: 1.5rem;
    font-size: 1rem;
}

.btn-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    margin: 0 auto;
    gap: 5px;
}

button {
    background: var(--clr-Grey700);
    border: none;
    border-radius: 5px;
    color: var(--clr-White);
    padding: 10px 0;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 0.9rem;
}

button:hover,
button:active {
    background: var(--clr-Green);
    color: var(--clr-Grey800);
}

@media (min-width: 550px) {
    main {
        padding: 2rem;
        width: 360px;
    }

    .profile-name {
        font-size: 2rem;
    }

    .profile-location {
        font-size: 1.1rem;
        margin-bottom: 2rem;
    }

    .profile-ocupation {
        font-size: 1rem;
    }

    .btn-group {
        width: 90%;
    }

    button {
        font-size: 1rem;
    }
}